<nav class="navbar">

  <div class="nav-left">
    <span class="logo">Reconciliation</span>
  </div>

  <div id="main-navbar" class="nav-right">

    <a id="nav-dashboard" href="/pages/dashboard.html">
      Dashboard
    </a>

    <a id="nav-upload" href="/pages/upload.html">
      Upload
    </a>

    <a
      id="nav-register"
      href="/pages/register.html"
      style="display:none;"
    >
      Register User
    </a>
    <a href="/pages/audit.html"
    id="nav-audit">
    Audit
    </a>

    <button
      id="nav-logout"
      onclick="logout()"
      style="display:none;"
    >
      Logout
    </button>

  </div>

</nav>
